<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Review:</strong>
  <div class='reviews'>
    <% @restaurant.reviews.each do |review| %>
      <div class='review'>
        <%= review.content %>
        <%= review.rating %>
        <%= link_to 'Edit', edit_restaurant_review_path(@restaurant, review) %> |
        <%= link_to 'Remove', restaurant_review_path(@restaurant, review), method: :delete %>
      </div>
    <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
